.a1{ position: absolute;color: blue;left:400px;top:0px;font-size: 50px;}
.a2{position: absolute;top:80px;font-size: 20px;}
.a3{position: absolute;top:150px;font-size: 20px;color: brown;}
.a4{position: absolute;top:170px;font-size: 20px;}
.a5{position: absolute;top:350px;font-size: 20px;}
.a6{position: absolute;top:370px;font-size: 20px;}
.a7{position: absolute;top:400px;font-size: 20px;}
.a8{position: absolute;top:600px;font-size: 20px;}
.a9{position: absolute;top:620px;font-size: 20px;}
