.a1{ position: absolute;color: blue;left:400px;top:0px;font-size: 50px;}
.a2{position: absolute;top:80px;font-size: 20px;}
.a3{position: absolute;top:150px;font-size: 20px;color: brown;}
.a4{position: absolute;top:170px;font-size: 20px;}
