@media (max-width:720px){
.a{color: blue;font-size:40px;
position:absolute;top:0px;left:10px;}
.a1{position: absolute;top:70px;left:0px;color:green;}
.a2{background-color: black;}
.a3{position:absolute;top:280px;left:5px;color:brown;}
}